* {
    box-sizing: border-box;
}

body {
    width: 414px;
    background-color: #E5E5E5;
    font-family: roboto;
    position:relative;
}

.titulo {
    font-family: righteous;
}

.top {
    height: 92px;
    width: 100%;
    background-color: #CF2B2B;
    display: flex;
    align-items: center;
    padding: 16px;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0,0,0, 0.25);
    z-index: 1;
}

.top div {
    color: white;
}

.driven {
    font-size: 44px;
}

.subtitulo {
    font-size: 18px;
}

.secao1 {
    height: 45px;
    display: flex;
    margin: 122px 0px 0px 16px;
    font-size: 26px;
}

.secao2 {
    height: 45px;
    display: flex;
    font-size: 26px;
    margin: 30px 0px 0px 16px;
}

.secao3 {
    height: 45px;
    display: flex;
    font-size: 26px;
    margin: 30px 0px 0px 16px;
}

.pratos {
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.opcao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 216px;
    width: 172px;
    background-color: #FFFFFF;
    margin: 0px 0px 20px 16px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -4px rgba(0,0,0, 0.25);
    cursor: pointer;
    position: relative;
}

ion-icon {
    position: absolute;
    font-size: 20px;
    color: rgb(8, 198, 8);
    right: 10px;
    bottom: 10px;
    display: none;
}

.opcao img {
    height: 87px;
    width: 144px;
    margin-bottom: 5px;
}

.opcao h4 {
    font-weight: 700;
    font-size: 16px;
}

.opcao h5 {
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
    line-height: 18px
}

.opcao h6 {
    font-size: 16px;
}

.doces {
    margin-bottom: 110px;
}

.hide {
    border: 5px solid rgb(8, 198, 8);
    padding: 10px;
}

.hide ion-icon {
    display: flex;
}

.bottom {
    height: 92px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.botao {
    height: 60px;
    width: 364px;
    background-color: #cbcbcb;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao h4 {
    width: 200px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.ativar {
    background-color:  rgb(8, 198, 8);
    cursor: pointer;
}

.ativar h4 {
    font-weight: 700;
}

.confirma {
    width: 377px;
    height: 353px;
    border-radius: 12px;
    background-color: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.25);
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: 22px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px;
}

.aviso {
    font-weight: 700;
    margin: 20px 0px 30px 0px;
}

.item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.total {
    font-weight: 700;
}

.pedir {
    width: 330px;
    height: 52px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #50D074;
    font-weight: 700;
    margin: 20px 0px 15px 0px;
}

.fade {
    opacity: 0.1;
}

.aparecer {
    display: flex;
}





